@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
:root{
    --cor-de-fundo: #0a523a;
    --branco: #ffffff;
    --cor-texto: #ffffff;
    --cor-blocos: #3A375E;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal{
    
}