@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
:root{
    --cor-de-fundo: #0a523a;
    --branco: #ffffff;
    --cor-texto: #000000;
    --cor-blocos: #ffffff;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0%;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{

}

.botao{
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--cor-blocos);
    color: var(--branco) ;
    display: flex;
    justify-content: center;
    padding: 1em;
}

}